################################################################################
# 이 .gitignore 파일은 Microsoft(R) Visual Studio에서 자동으로 만들어졌습니다.
################################################################################

/HanoriMvvm.View/obj
/HanoriMvvm.Core.Service/obj
/HanoriMvvm.Core/obj
/HanoriMvvm/obj
/.vs/hanorimvvm/FileContentIndex
/HanoriMvvm/bin/Release/net7.0-windows
/HanoriMvvm.Core/bin/Release/net7.0-windows
/HanoriMvvm.IoC/obj/Release/net7.0-windows
/HanoriMvvm.IoC/obj
/HanoriMvvm.IoC/bin/Release/net7.0-windows
/HanoriMvvm.Main/bin/Release/net7.0-windows
/HanoriMvvm.Main/obj
/.vs/ProjectEvaluation/hanorimvvm.metadata.v6.1
/.vs/ProjectEvaluation/hanorimvvm.projects.v6.1
/HanoriMvvm.Core/obj/HanoriMvvm.Core.csproj.nuget.dgspec.json
/HanoriMvvm.Core/obj/HanoriMvvm.Core.csproj.nuget.g.props
/HanoriMvvm.Core/obj/Mvvm.Core.csproj.nuget.dgspec.json
/.vs/hanorimvvm/DesignTimeBuild/.dtbcache.v2
/.vs/hanorimvvm/v17
