################################################################################
# 이 .gitignore 파일은 Microsoft(R) Visual Studio에서 자동으로 만들어졌습니다.
################################################################################

/HanoriMvvm.View/obj
/HanoriMvvm.Core.Service/obj
/HanoriMvvm.Core/obj
/HanoriMvvm/obj
/.vs/hanorimvvm/FileContentIndex
/HanoriMvvm/bin/Release/net7.0-windows
/HanoriMvvm.Core/bin/Release/net7.0-windows
/HanoriMvvm.IoC/obj/Release/net7.0-windows
/HanoriMvvm.IoC/obj
/HanoriMvvm.IoC/bin/Release/net7.0-windows
/HanoriMvvm.Main/bin/Release/net7.0-windows
/HanoriMvvm.Main/obj
